<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../public/assets/css/app.css" />
    <script
      src="https://kit.fontawesome.com/1b2aa6c877.js"
      crossorigin="anonymous"
    ></script>
    <title>Madinah</title>
  </head>
  <body>
    <section class="fixed h-20 top-0 left-0 right-0 z-50">
      <header class="container flex justify-between px-10 mx-auto bg-primary">
        <div class="flex py-1.5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="inline-block w-5 h-5 fill-white"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
            />
            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
          </svg>
          <a href="mailto:info@madinahstiftelsen.se" class="text-sm text-white"
            >info@madinahstiftelsen.se</a
          >
        </div>
        <div class="self-center space-x-4">
          <a href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
              class="inline-block w-3 fill-white"
            >
              <path
                d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
              />
            </svg>
          </a>
          <a href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              class="inline-block w-5 fill-white"
            >
              <path
                d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
              />
            </svg>
          </a>
        </div>
      </header>
      <nav class="container flex justify-between px-24 py-5 mx-auto bg-white">
        <a href="#"
          ><img
            src="../../../public/assets/image/logo.png"
            alt=""
            class="w-44 h-auto"
        /></a>
        <div></div>
        <div class="flex self-center space-x-5">
          <ul class="self-center flex space-x-3 text-lg text-text font-medium">
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="#project">Project</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
          <div class="self-center">
            <a
              href="donation.html"
              class="bg-color1 flex px-4 py-2.5 rounded-sm"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 384 512"
                class="w-3 inline-block self-center fill-white"
              >
                <path
                  d="M16 319.1C16 245.9 118.3 89.43 166.9 19.3C179.2 1.585 204.8 1.585 217.1 19.3C265.7 89.43 368 245.9 368 319.1C368 417.2 289.2 496 192 496C94.8 496 16 417.2 16 319.1zM112 319.1C112 311.2 104.8 303.1 96 303.1C87.16 303.1 80 311.2 80 319.1C80 381.9 130.1 432 192 432C200.8 432 208 424.8 208 416C208 407.2 200.8 400 192 400C147.8 400 112 364.2 112 319.1z"
                />
              </svg>
              <span class="text-base uppercase ms-2 text-white font-medium"
                >Donate</span
              >
            </a>
          </div>
        </div>
      </nav>
    </section>
    <div class="bg-aboutBanner bg-cover bg-center bg-no-repeat mt-10">
      <div class="bg-overlay3 w-full h-full text-center">
        <p class="text-6xl text-white font-bold py-20">Contact</p>
      </div>
    </div>
    <section
      class="container mx-auto px-8 sm:px-16 py-10 lg:grid grid-cols-3 gap-x-16"
    >
      <div class="col-span-2 space-y-6">
        <h2 class="text-3xl font-medium">Contact Us</h2>
        <p class="text-text">
          To get in touch with the fundraising foundation, you can send a
          message to
          <span class="text-button">info@madinahstiftelsen.se</span> .
        </p>
        <p class="text-text">Or write to us by filling out the form below:</p>
        <form class="space-y-4">
          <div class="relative">
            <select
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none text-sm"
              id="grid-state"
            >
              <option>Subject</option>
              <option value="Donation">Donation</option>
              <option value="Participation">Participation</option>
              <option value="The Foundation">The Foundation</option>
              <option value="other">Other</option>
            </select>
            <div
              class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
            >
              <svg
                class="fill-current h-4 w-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                />
              </svg>
            </div>
          </div>
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none text-sm"
                id="grid-last-name"
                type="text"
                placeholder="Your Name"
              />
            </div>
            <div class="w-full md:w-1/2 px-3">
              <input
                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none text-sm"
                type="email"
                placeholder="xyz@email.com"
              />
            </div>
          </div>
          <div>
            <textarea
              rows="5"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none text-sm"
              placeholder="Massage"
            ></textarea>
          </div>
          <div class="flex justify-between">
            <div></div>
            <div class="flex">
              <div class="flex self-center mr-6">
                <div class="self-center">
                  <span>10</span>
                  <span> + </span>
                  <span>5</span>
                  <span> = </span>
                </div>
                <div class="w-10 h-10 bg-gray-300"></div>
              </div>
              <button
                class="flex border-2 border-button px-5 py-1.5 rounded-sm bg-button-bg group hover:border-button-bg hover:bg-button-bg2"
              >
                <span class="text-xl text-button self-center">Send</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="hidden group-hover:inline-block h-6 w-6 ml-2 stroke-button"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 5l7 7-7 7"
                  />
                </svg>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div>
        <img src="../../../public/assets/image/logo.png" alt="" class="mt-10" />
        <div class="bg-gray-200 mt-10 p-10">
          <div class="text-xl tracking-wider text-text">
            <p>Thank you for</p>
            <p>writing to us!</p>
          </div>
          <p class="text-text py-4">
            If you think our purpose is important, do not forget to donate!
          </p>
          <button
            class="flex border-2 border-button px-5 py-1.5 rounded-sm bg-button-bg group hover:border-button-bg hover:bg-button-bg2"
          >
            <span class="text-xl text-button self-center">Donate</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="hidden group-hover:inline-block h-6 w-6 ml-2 stroke-button"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              />
            </svg>
          </button>
        </div>
      </div>
    </section>
  </body>
</html>
