<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/assets/css/app.css" />
    <script
      src="https://kit.fontawesome.com/1b2aa6c877.js"
      crossorigin="anonymous"
    ></script>
    <title>Madinah</title>
  </head>
  <body class="container mx-auto px-96 text-sm">
    <div class="px-20 space-y-8">
      <p class="text-center text-text6 px-8">
        Muslim Aid Sweden använder Checkout från Stripe för att säkert spara din
        betalningsinformation.
      </p>
      <div class="space-y-8">
        <div class="flex">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="w-14 self-start mt-1.5"
          >
            <path
              d="M80 192V144C80 64.47 144.5 0 224 0C303.5 0 368 64.47 368 144V192H384C419.3 192 448 220.7 448 256V448C448 483.3 419.3 512 384 512H64C28.65 512 0 483.3 0 448V256C0 220.7 28.65 192 64 192H80zM144 192H304V144C304 99.82 268.2 64 224 64C179.8 64 144 99.82 144 144V192z"
            />
          </svg>
          <div class="ms-4 pe-8">
            <p class="text-text3">Mobilverifiering</p>
            <p class="text-text5">
              Du är skyddad med mobilautentisering utformad för att säkerställa
              att du är den enda personen som kan komma åt din information
            </p>
          </div>
        </div>
        <div class="flex">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="w-16 self-start mt-1.5"
          >
            <path
              d="M466.5 83.71l-192-80C269.6 1.67 261.3 0 256 0C250.7 0 242.5 1.67 237.6 3.702l-192 80C27.7 91.1 16 108.6 16 127.1c0 257.2 189.2 384 239.1 384c51.1 0 240-128.2 240-384C496 108.6 484.3 91.1 466.5 83.71zM256 446.5l.0234-381.1c.0059-.0234 0 0 0 0l175.9 73.17C427.8 319.7 319 417.1 256 446.5z"
            />
          </svg>
          <div class="ms-4 pe-8">
            <p class="text-text3">Säkerhet på banknivå</p>
            <p class="text-text5">
              Din information förblir säker med end-to-end-kryptering på servrar
              som uppfyller de strängaste PCI-standarderna som finns i
              betalningsbranschen
            </p>
          </div>
        </div>
      </div>
      <p class="text-gray-400">
        Du kan granska varje beställning innan du betalar.
      </p>
      <div class="text-center bg-gray-100 py-3 rounded-md cursor-pointer">
        <button class="text-blue-500 font-medium">Stäng</button>
      </div>
      <div class="text-center hover:bg-gray-100 py-3 rounded-md cursor-pointer">
        <a href="" class="text-gray-400 font-medium"
          >Läs mer om sekretess
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="w-3 inline-block fill-gray-400 ms-2"
          >
            <path
              d="M384 320c-17.67 0-32 14.33-32 32v96H64V160h96c17.67 0 32-14.32 32-32s-14.33-32-32-32L64 96c-35.35 0-64 28.65-64 64V448c0 35.34 28.65 64 64 64h288c35.35 0 64-28.66 64-64v-96C416 334.3 401.7 320 384 320zM488 0H352c-12.94 0-24.62 7.797-29.56 19.75c-4.969 11.97-2.219 25.72 6.938 34.88L370.8 96L169.4 297.4c-12.5 12.5-12.5 32.75 0 45.25C175.6 348.9 183.8 352 192 352s16.38-3.125 22.62-9.375L416 141.3l41.38 41.38c9.156 9.141 22.88 11.84 34.88 6.938C504.2 184.6 512 172.9 512 160V24C512 10.74 501.3 0 488 0z"
            />
          </svg>
        </a>
      </div>
    </div>
  </body>
</html>
